body {
    background-color: #F5F5F5;
}
header {
    color: #2B2A4C;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.paragraphe_banniere {
 margin-left: 20px;
    h1 {
        border-bottom: solid;
        border-color: #2B2A4C;
    }
    p {
        margin-top: -5px;
    }
}
#collection_conteneur {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  .div_items {
    color: #F0ECE5;
    background: #2B2A4C;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 15px 15px 0px 0px;
    transition: transform 0.3s ease;
&:hover 
      {
    transform: scale(1.05); 
}
  h1 {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
  img {
    max-width: 300px;
    width: 100%;
    }
  p {
    color: #B6BBC4;
  } }