body {
    background-color: #F5F7F8;
}
header {
    text-align: center;
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
#collection_conteneur {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  .div_items {
    background-color: grey;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  h1 {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
}